<footer class="custom-footer">
  <div class="footer-container">
    <!-- Social Media Icons -->
    <div class="social-icons">
      <a href="https://facebook.com" target="_blank" aria-label="Facebook" class="social-icon">
        <i class="fa-brands fa-square-facebook"></i>
      </a>
      <a href="https://instagram.com" target="_blank" aria-label="Instagram" class="social-icon">
        <i class="fa-brands fa-square-instagram"></i>
      </a>
      <a href="https://youtube.com" target="_blank" aria-label="YouTube" class="social-icon">
        <i class="fa-brands fa-youtube"></i>
      </a>
    </div>

    <!-- Copyright -->
    <div class="copyright">
      &copy; Khaas Mayar 2025. All rights reserved.
    </div>

    <!-- Links -->
    <div class="footer-links">
      <a href="/Privacy" class="footer-link">Privacy Policy</a>
      <a href="/terms" class="footer-link">Terms & Conditions</a>
    </div>
  </div>
</footer>
